<section>
    <header>
        <h2>Student:</h2>
    </header>
    <article>
        <ng-container *ngIf="student$ | async as student; else loading">
            <p>{{ student | json }}</p>
        </ng-container>
    </article>
</section>
<section>
    <header>
        <h1>Students:</h1>
    </header>
    <article>
        <ng-container *ngIf="students$ | async as students; else loading">
            <p (click)="deleteStudent(student.id)" *ngFor="let student of students">{{ student | json }}</p>
        </ng-container>
    </article>
</section>
<section>
    <header>
        <h2>Add student:</h2>
    </header>
    <form (ngSubmit)="saveStudent(form.value)" [formGroup]="form">
        <div>
            <input [formControl]="nameCtrl" type="text" placeholder="Name" />
            <p *ngFor="let error of getErrors(nameCtrl.errors)">{{ errorMessages[error] }}</p>
        </div>
        <div>
            <input [formControl]="ageCtrl" type="number" placeholder="Age" />
            <p *ngFor="let error of getErrors(ageCtrl.errors)">
                {{ errorMessages[error] }}
            </p>
        </div>
        <button type="submit">Save</button>
    </form>
</section>

<ng-template #loading>
    <p>Loading...</p>
</ng-template>
